bin/
data/
target/
.*
*.bak
*~
*.old
*.class
*.log
*.iml
*.jar
desktop.ini
nbactions.xml
dependency-reduced-pom.xml

# Ignore all generic character images
res/images/characters/generic/
java -Xms1024mv -jar LT.jar.txt

res/mods
!res/mods/innoxia
!res/mods/modding.txt
LT.bat
